
/* Table */
.table thead th, td {
    border-top: none !important;
    border-bottom: none !important;
}

.table-responsive {
    overflow-x: hidden !important;
}

.custom-select {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper div.dataTables_length label {
    font-family: "Nunito", sans-serif !important;
    padding-left: 20px !important;
    display: inline-block;
    margin-bottom: -90px;
    margin-top: 20px;
}

#dataTable_filter .form-control.form-control-sm {
    float: right;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #252525;
}

#dataTable_filter label {
    width: 60%;
    margin-left: 130px;
}

.dataTables_info {
    padding-left: 20px;
}

.pagination {
    padding-left: 270px !important;
}

a.btnOption i{
    color: #252525;
}

a:hover{
    text-decoration: none !important;
}

.fotoPerfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: white;
    margin-left: 8px;
}

.fotoPerfilImagem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/media/contact-image.jpg");
    margin-left: 8px;
}


.fotoPerfilImagem:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

#exampleCheck1 {
    margin-top: 12px;
    margin-left: -7px;
    height: 17px;
    width: 17px;
    background-color: white !important;
    cursor: pointer;
}

table tbody tr.bg-hover-row:hover {
    background-color: white;
    cursor: pointer;
}

