.dataTables_filter{
    position: absolute;
    right: 20px;
}

table{
    color:gray;
}

.pagination {
    float: right;
}

.table-borderless td, .table-borderless th {
    border: 0;
    color:gray;

}


.table-borderless tbody tr:hover{
    border-radius: 20%;
    background-color: white;
}


.btn_list_opt{
    color:gray;
}

.btn_list_opt:hover{
    color:#6A74C9;
}