/* Button Style -> Reportar Problema */
#report-problem {
    border: none;
    color: white;
    font-weight: 800;
    padding: 8px 18px;
    font-size: 0.6rem;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #6A74C9;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .15);
}

/* Cards Navigation Style */
/* Title */
.cards-navigation {
    margin-top: 19px;
}

.title h6 {
    color: #252525;
    font-weight: 700;
    font-size: 1.1rem;
}

/* Cards */
.cards-group {
    margin-top: 10px;
}

.card-navigation {
    width: 85%;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .10);
}

.card-navigation .help-button {
    top: 7px;
    right: 8px;
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    border-radius: 50%;
    background-color: #DFDFDF;
}

.card-navigation .help-button span {
    top: -10%;
    left: 32%;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    position: relative;
    transform: translate(-50%, -50%);
}

.card-navigation .info {
    padding-top: 5px;
    padding-left: 15px;
    display: inline-block;
}

.card-navigation .info .number {
    color: #575757;
    font-weight: 700;
    font-size: 2.6rem;
    margin: 0 !important;
}

.card-navigation .info .word {
    bottom: 7px;
    color: #C8C8C8;
    font-weight: 800;
    font-size: .72rem;
    position: relative;
    margin: 0 !important;
    text-transform: uppercase;
}

/* Report Navigation Style */
.report {
    margin-top: 30px;
}

.report button {
    color: #A9A9A9;
    font-weight: 800;
    padding: 8px 18px;
    font-size: 0.6rem;
    border-radius: 25px;
    border: 2px solid #A9A9A9;
    text-transform: uppercase;
    background-color: #EAEAEA;
}

.report .graphic-group {
    margin-top: 40px;
}

.report .graphic-group .graphic {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 230px;
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .10);
}
