

/* Report Navigation Style */
.report {
    margin-top: 30px;
}

.report button {
    color: #A9A9A9;
    font-weight: 800;
    padding: 8px 18px;
    font-size: 0.6rem;
    border-radius: 25px;
    border: 2px solid #A9A9A9;
    text-transform: uppercase;
    background-color: #EAEAEA;
}

.report .graphic {
  margin-top: 20px;
}
