table {
    color: gray;
}

.pagination {
    float: right;
}

.table-borderless td,
.table-borderless th {
    border: 0;
    color: gray;
    font-weight: bold;
}

.table-borderless tbody td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.table-borderless tbody td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



.table-borderless tbody tr:hover {
    border-radius: 20%;
    background-color: white;
}



.name_link{
    color: gray;
}

.name_link:hover{
    color: #6A74C9;
    text-decoration: none;
}


.btn_list_opt {
    color: gray;
}

.btn_list_opt:hover {
    color: #6A74C9;

}

.btn_list_opt_edit:hover {
    color: #eac300;
}


.btn_list_opt_download:hover {
    color: #1a9b00;
}


.btn_delete {
    color: gray;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;

}


.btn_delete:hover {
    color: red;
}
