
th,td{
    color:black;
}


/* Botões da lista ( view, Edit, delete) */
.btn_list_opt, .btn_delete {
    color: gray;
    outline: none;
    border: 0;
    background: none;
    box-shadow: none;
}

.btn_list_opt:hover {
    color: #6A74C9;
}

.btn_list_opt_edit:hover {
    color: #eac300;
}

.btn_delete:hover {
    color: red;
}


#customSearchBox{
    width:100%;
}
