.report-card {
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.report-card p {
    font-weight: 600;
    margin: 0 !important;
    display: inline-block;
}
