.name_link {
    color: gray;
}

.active {
    color: #6A74C9
}


textarea,
input[type="text"],
input[type="date"],
input[type="email"] {
    border: none;
    resize: none;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #EAEAEA;
    color: #747474;
    font-weight: 600;

}

.select_style {
    border: none;
    resize: none;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #EAEAEA;
    color: #747474;
    font-weight: 600;
}

label {
    color: #747474;
    font-weight: 700;
}
