body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/media/contact-image.jpg");
}

.login-form p {
    color: #ADADAD;
    font-weight: 800;
    text-align: left;
}

.form {
    width: 35%;
    float: right;
    height: 100%;
    position: relative;
    background-color: white;
    border-top: 5px solid #6A74C9;
}

.login-form {
    left: 50%;
    top: 280px;
    width: 90%;
    padding: 0 20px;
    position: relative;
    transform: translate(-50%, -50%);
}

.login-form #username {
    margin-top: 40px;
}

#username, #password {
    font-weight: 600;
    font-size: 0.8rem;
    padding: 25px 20px;
    border-radius: 50px;
    border: 2px solid #ADADAD;
    color: #252525 !important;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#username::placeholder, #password::placeholder {
    color: #ADADAD;
    font-weight: 700;
    text-transform: uppercase;
}

form-control::placeholder {
    opacity: 0 !important;
}

#username:focus, #password:focus {
    border-color: #6A74C9;
    box-shadow: inset 0 1px 1px #6A74C9, 0 0 5px #565eac;
    border-radius: 50px;
}

.submit-button {
    float: right;
    font-weight: 700;
    font-size: 0.76rem;
    padding: 10px 20px;
    border-radius: 50px;
    color: white !important;
    text-transform: uppercase;
    background-color: #6A74C9 !important;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 1000px) {
    .login-form {
        margin: 0;
        width: 100%;
    }

    .submit-button {
        width: 100%;
    }
}
