body, html {
    font-family: "Nunito", sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/contact-image.jpg");
}

.login-form p {
    font-weight: bolder;
    text-align: left;
}

.form {
    width: 35%;
    float: right;
    height: 100%;
    position: relative;
    background-color: white;
    border-top: 5px solid #6A74C9;
}

.login-form {
    top: 200px;
    position: relative;
    padding: 0 40px;
    margin: 0 30px;
    width: 90%;
}

.login-form #username {
    margin-top: 40px;
}

#username, #password {
    font-size: 0.8rem;
    padding: 20px 10px 20px 10px;
    border-radius: 50px;
}

#username:focus, #password:focus {
    border-color: #6A74C9;
    box-shadow: inset 0 1px 1px #6A74C9, 0 0 5px #565eac;
    border-radius: 50px;
}

.submit-button {
    float: right;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 50px;
    color: white !important;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #6A74C9 !important;
}


@media screen and (max-width: 1000px) {
    .login-form {
        margin: 0;
        width: 100%;
    }

    .submit-button {
        width: 100%;
    }
}
