/* lyka blue: #6A74C9 */
html, body {
    height: 100%;
    min-width: 750px;
    background-color: #EAEAEA;
    font-family: 'Nunito', sans-serif;
}

.logotype {
    color: #6A74C9;
    font-weight: 700;
    font-size: 1.5rem;
}

.logotype:hover {
    text-decoration: none;
}

/* Menu Principal */
.main-menu {
    flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    background-color: white;
    padding: 0px !important;
}

.menu-list {
    list-style-type: none;
    padding-left: 0px;
    font-size: 16px;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.menu-option {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}

.active {
    color: #6A74C9;
    font-weight: 700;
}

.menu-list a {
    text-decoration: none;
    color: #000000;
}

.menu-list a:hover {
    color: #6A74C9;
}

.menu_icon {
    display: inline-block;
    width: 18px;
    margin-right: 10px;
    text-align: center;
    color: #6A74C9;
}

.btn-sm {}

/* Utilizador e opçoes */
/* SIDEBAR */
.sidebar {
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    background-color: white;
    min-height: 100%;
}

@media screen and (max-width: 950px) {
    .sidebar {
        display: none;
    }
}
