/* LYKA BLUE: #6A74C9 */


/* General Style */
html, body {
    height: 100%;
    min-width: 750px;
    background-color: #EAEAEA;
    font-family: 'Nunito', sans-serif;
}

/* Main Menu Style */
.logotype {
    color: #6A74C9;
    font-weight: 700;
    font-size: 1.5rem;
}

.logotype:hover {
    text-decoration: none;
}

.logo {
    padding-left: 20px;
    padding-top: 60px !important;
}

.main-menu {
    flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    background-color: white;
}

.menu-list {
    margin: 0px;
    width: 100%;
    padding-top: 10px;
    font-size: 16px;
    padding-left: 4px;
    list-style-type: none;
}

.menu-option {
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 8px;
}

.active {
    color: #6A74C9;
    font-weight: 700;
}

.menu-list .active {
    color: #6A74C9;
    font-weight: 800;
}

.menu-list a span {
    color: #252525;
    font-weight: 700;
    position: relative;
    font-size: 0.85rem;
    padding-left: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.menu-list a:hover {
    color: #6A74C9;
    text-decoration: none;
}

.menu-list span:hover {
    color: #6A74C9;
}

.menu-icon {
    width: 18px;
    color: #6A74C9;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}



.user_photo{

    height: 120px;
    width: 120px;
    border:1px solid lightgray;
    overflow: hidden;
}

.opts_btn{
    position: relative;
    left:60px;
    top:145px;
    width: 24px;
    height:24px;
    border-radius: 50%;
    background-color: white;
    border:1px solid lightgray;
}

.user_opts{
    position: relative;
    left:140px;
    top:120px;
    width: 24px;
    height:24px;
    border-radius: 50%;
    background-color: white;
    border:1px solid lightgray;
}



.user_btn{
    color:#6A74C9;
}

.user_btn:hover{
    color:red;
}

/* Right Sidebar Style */
.sidebar {
    flex: 0 0 270px;
    min-height: 100%;
    background-color: white;
    padding: 0px!important;
}

.close_btn{
    position: absolute;
    right:-5px;
    top:-7px;
    height:20px;
    width:20px;
    background-color: white;
    padding-top: -3px;
    border-radius: 50%;

}
.close_btn a{
    color:gray;
}
.close_btn a:hover{
    color:blue;
}

@media screen and (max-width: 950px) {
    .sidebar {
        display: none;
    }

    .main-menu{
        flex: 0 0 50px;
        -ms-flex: 0 0 50px;
        overflow: hidden;
    }
    .option-name{
        display: none;
    }
}
