/* General Style */
html, body {
    height: 100%;
    min-width: 750px;
    background-color: #EAEAEA;
    font-family: 'Nunito', sans-serif;
}

/* Main Menu Style */
.logotype {
    color: #6A74C9;
    font-weight: 700;
    font-size: 1.5rem;
}

.logotype:hover {
    text-decoration: none;
}

.logo {
    padding-left: 20px;
    padding-top: 60px !important;
}

.main-menu {
    flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    background-color: white;
}

.menu-list {
    margin: 0px;
    width: 100%;
    padding-top: 10px;
    font-size: 16px;
    padding-left: 4px;
    list-style-type: none;
}

.menu-option {
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 8px;
}

.active {
    color: #6A74C9;
    font-weight: 700;
}

.menu-list .active {
    color: #6A74C9;
    font-weight: 800;
}

.menu-list a span {
    color: #252525;
    font-weight: 700;
    position: relative;
    font-size: 0.85rem;
    padding-left: 5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.menu-list a:hover {
    color: #6A74C9;
    text-decoration: none;
}

.menu-list span:hover {
    color: #6A74C9;
}

.menu-icon {
    width: 18px;
    color: #6A74C9;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}

/* Right Sidebar Style */
.sidebar {
    flex: 0 0 270px;
    min-height: 100%;
    -ms-flex: 0 0 270px;
    background-color: white;
}

@media screen and (max-width: 950px) {
    .sidebar {
        display: none;
    }
}
