.payment-card {
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.payment-card p {
    font-weight: 600;
    margin: 0 !important;
    display: inline-block;
}

a {
    color: #747474;
}

a:hover {
    color: #747474;
    text-decoration: none;
}

input, textarea, select{
    color: #747474;
    font-weight: 600;
}

label {
    color: #747474;
    font-weight: 700;
}

input, select, textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #EAEAEA;
}

.payment-card p:first-child {
    color: #747474;
    font-weight: 600;
}

.payment-card p:nth-child(2) {
    color: #747474;
    font-weight: 700;
}
