.payment-card {
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.payment-card p {
    font-weight: 600;
    margin: 0 !important;
    display: inline-block;
}

a {
    color: #747474;
}

a:hover {
    color: #747474;
    text-decoration: none;
}

input, textarea, select {
    color: #747474;
    font-weight: 600;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

label {
    color: #747474;
    font-weight: 700;
}

input, select, textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #EAEAEA;
}

.payment-card p:first-child {
    color: #747474;
    font-weight: 600;
}

.payment-card p:nth-child(2) {
    color: #747474;
    font-weight: 700;
}

.input-file-div {
    width: 100%;
    border: none;
    resize: none;
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #EAEAEA;
    color: #747474;
    font-weight: 600;
    cursor: pointer;
}

input[type="date"], select {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.help-button {
    top: 1px;
    width: 20px;
    height: 20px;
    float: right;
    cursor: default;
    position: relative;
    border-radius: 50%;
    background-color: #DFDFDF;
}

.help-button span {
    top: -10%;
    left: 32%;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    position: relative;
    transform: translate(-50%, -50%);
}

/* Charges List (Fases) */
p {
    font-weight: 700;
    margin-bottom: 0;
}

.charge-div {
    margin-top: 20px;
    padding: 12px 10px;
    transition: 0.1s ease-in-out;
}

.charge-div:hover {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .1);
}

.white-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.white-circle #icon {
    top: 50%;
    left: 50%;
    font-size: 1.3rem;
    position: relative;
    transform: translate(-50%, -50%);
}

/* Context Menu */
#contextMenu {
    background-color: red;
    display: inline-block;
    display: none;
    width: 150px;
    height: auto;
    position: absolute;
}
